.offer {
  margin-bottom: 100px;
  &_content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &_title {
    font-weight: 500;
    font-size: 30px;
    line-height: 150%;
    color: var(--color-grey-15);
    margin-bottom: 20px;
  }
  &_text {
    padding: 0 17px;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    line-height: 178%;
    color: var(--color-grey-47);
    margin-top: 36px;
    max-width: 736px;
    width: 100%;
  }
  &_cards {
    margin-top: 42px;
    margin-bottom: 118px;
    display: flex;
    gap: 30px;
    @media (max-width: 1701px) {
      flex-wrap: wrap;
      justify-content: center;
    }

    .card {
      text-align: center;
      padding: 1px;
      width: 170px;
      height: 168px;
      border-radius: 3px;
      border: 1px solid rgb(212, 212, 212);
      @media (max-width: 905px) {
        width: 368px;
      }
      .svg {
        width: 168px;
        height: 126px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: var(--color-grey-97);
        @media (max-width: 905px) {
          width: 368px;
        }
        svg {
          path {
            transition: 0.2s ease-in-out;
          }
          &:hover {
            path {
              fill: var(--color-yellow-57);
            }
          }
        }
      }
      h3 {
        font-weight: 500;
        font-size: 15px;
        line-height: 267%;
        text-align: center;
        color: var(--color-grey-15);
      }
    }
  }
  &_info {
    display: flex;
    position: relative;
    @media (max-width: 1166px) {
      flex-direction: column;
      align-items: center;
    }
    &_items {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 30px;
      @media (max-width: 1166px) {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
      }
      .item {
        display: flex;
        align-items: center;
        gap: 30px;
        width: 370px;
        height: 116px;
        .svg {
          position: relative;
          border-radius: 50%;
          width: 170px;
          height: 70px;
          box-shadow: inset 0 0 0 2px var(--color-yellow-57);
          background: var(--color-yellow-57);
          display: flex;
          justify-content: center;
          align-items: center;
          transition: 0.2s;
          overflow: hidden;
          &_yellow {
            position: absolute;
            transform: translateX(-100%);
            opacity: 0;
            z-index: 1;
            transition: transform 0.4s ease, opacity 0.4s ease;
          }
          &_white {
            position: absolute;
            transform: translateX(0);
            opacity: 1;
            z-index: 2;
            transition: transform 0.4s ease, opacity 0.4s ease;
          }

          &:hover {
            background-color: white;
            border-radius: 1px solid var(--color-yellow-57);
            border-radius: 50%;
            .svg_white {
              transform: translateX(100%);
              opacity: 0;
              z-index: 1;
            }
            .svg_yellow {
              transform: translateX(0);
              opacity: 1;
              z-index: 2;
            }
          }
        }
        &_details {
          display: flex;
          flex-direction: column;
          h3 {
            font-weight: 600;
            font-size: 18px;
            line-height: 150%;
            color: var(--color-grey-15);
            margin-bottom: 10px;
          }
          p {
            font-weight: 400;
            font-size: 14px;
            line-height: 187%;
            color: var(--color-grey-47);
          }
        }
      }
    }
    .man {
      width: 370px;
      height: 513px;
      max-width: 400px;
    }
  }
  &_quote {
    background: var(--color-yellow-57);
    padding: 32px 0;

    &_details {
      display: flex;
      justify-content: space-between;
      align-items: center;
      @media (max-width: 1166px) {
        flex-direction: column;
        gap: 20px;
      }
      p {
        font-weight: 500;
        font-size: 20px;
        line-height: 150%;
        color: var(--color-white-solid);
        @media (max-width: 650px) {
          text-align: center;
        }
      }
      button {
        border-radius: 3px;
        padding: 11px 31px 11px 31px;
        width: 181px;
        height: 50px;
        background: var(--color-white-solid);
        font-weight: 500;
        font-size: 14px;
        line-height: 187%;
        letter-spacing: 0.14em;
        text-align: right;
        color: var(--color-grey-15);
        border: 1px solid rgba(160, 160, 160, 0.463);
        transition: 0.2s ease-in-out;
        &:hover {
          color: white;
          background: #000;
        }
      }
    }
  }
}

