.jobs {
  &__info {
    display: flex;
    margin-bottom: 110px;
    @media (max-width: 905px) {
      flex-direction: column;
    }
    .card {
      display: flex;
      flex-direction: column;
      padding: 0 15px;
      @media (max-width: 905px) {
        align-items: center;
        margin-bottom: 30px;
        img {
        width: 370px;
        height: 220px;
        }
      }
      .text {
        text-align: center;
        h3 {
          font-weight: 500;
          font-size: 18px;
          line-height: 150%;
          text-align: center;
          color: var(--color-grey-15);
          margin-top: 30px;
          margin-bottom: 12px;
        }
        p {
          font-weight: 400;
          font-size: 14px;
          line-height: 187%;
          text-align: center;
          color: var(--color-grey-47);
          margin-bottom: 26px;
        }
      }
    }
  }
}
